.language-dropdown {
  position: relative;
  display: inline-block;
}

/* Seçili dil bayrağı */
.language-dropdown button {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 2; /* Bayrak her zaman menünün üstünde */
}

.flag-icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: block;
}

.flag-icon:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

/* Menü */
.dropdown-menu {
    display: none;
  position: absolute;
  top: -10px;   /* ✅ butonun hemen altından başlar */
  right: 0.5px;
  background: #333;
  border-radius: 50px;
  padding: 5px;
  margin-top: 5px; /* Bayrak ile menü arasında küçük boşluk */
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding-top: 45px;
  z-index: 1;  /* Menü bayraktan düşük, ama Navbar’dan büyük olacak */
}

.dropdown-item {
  cursor: pointer;
  transition: transform 0.2s ease;
}
